<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Smart Contract Manager</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .container {
        margin-top: 100px;
    }
    .btn-send-otp {
        width: 100%;
    }
  </style>
</head>
<body>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
              <h1 class="text-center">Change Password</h1>
              <form th:action="@{/change-password}" method="post">
                <div class="form-group">
                  <label for="password">Email</label>
                  <input type="password" class="form-control" id="password" name="newPassword" placeholder="Enter new password" required>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-warning btn-send-otp">Login</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
