<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Smart Contract Manager</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Smart Contract Manager</h1>
        <p>
            Welcome to the Smart Contract Manager website! Our platform is designed to simplify and streamline the management of smart contracts.
        </p>
        <a class="btn btn-primary btn-lg text-white" th:href="@{/Signup}">GET STARTED</a>
    </div>

</section>
</body>
</html>
